body {
	/* background-image: radial-gradient(black,black,black,rgb(12, 2, 24),rgb(12, 2, 24)); */
	background-image: radial-gradient(rgb(16, 3, 32),rgb(12, 2, 24),rgb(9, 1, 18),black);
	color: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
	display: flex;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.03);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	/* font-size: 20px; */
	padding: 20px;
	text-align: center;
}